<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Base
    </title>
    <!-- Collect -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/CSS/check_out.css">
    <link rel="stylesheet" href="/static/CSS/style-collect.css">
    <link rel="stylesheet" href="/static/javaScript/lightbox.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/static/javaScript/lightbox-plus-jquery.min.js"></script>
    <!-- connect wallet  -->
    <link rel="stylesheet" href="/static/CSS/style-connect.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- create  -->
    <link rel="stylesheet" href="/static/CSS/style-create.css">
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
    <!-- faq  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"></script>
    <link rel="stylesheet" href="/static/CSS/style-faq.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- home  -->
    <link rel="stylesheet" href="/static/CSS/style.css">
  <link rel="stylesheet" href="/static/css/slick.css">
  <link rel="stylesheet" href="/static/css/slick-theme.css">
  <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> -->
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
  <script src="/static/javaScript/slick.js"></script>
  <script src="/static/javaScript/countMe.min.js"></script>
  <!-- register  -->
  <link rel="stylesheet" href="/static/CSS/style-register.css">
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js"></script>
  <!-- roadmap  -->
  <link rel="stylesheet" href="/static/CSS/style-roadmap.css">
    <!-- <link rel="stylesheet" href="/static/CSS/slick.css"> -->
    <!-- <link rel="stylesheet" href="/static/CSS/slick-theme.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
    <!-- <script src="/static/javaScript/slick.js"></script> -->

</head>
<body>
    {% block content %} 
    {% endblock %} 
</body>
</html>